**
!Dockerfile
!LICENSE
!THIRD_PARTY_NOTICES.md
!docs/
!docs/signal-foundry-validation.json
!game/
!game/package.json
!game/pnpm-lock.yaml
!game/tsconfig.json
!game/scripts/
!game/scripts/check.mjs
!game/src/
!game/src/**
!game/tests/
!game/tests/**
!game/public/
!game/public/**
